In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
db_instance=mysql.connector.connect()
try:
    db_instance = mysql.connector.connect(

        host='localhost',
        user='root',
        password='Admin'
    )
    print('Connection established successfully......')
except Eroor as err:
    print(f'Error is:{err}')

Connection established successfully......

In [3]:
def connect_to_db():
    db_instance=mysql.connector.connect()
    try:
        db_instance = mysql.connector.connect(

            host='localhost',
            user='root',
            password='Admin',
            database='python_mysql'
        )
        print('Connection established to python_mysql database successfully......')
    except Eroor as err:
        print(f'Error is:{err}')
    return db_instance

In [19]:
cursor=db_instance.cursor()
try:
    cursor.execute("create database python_mysql")
    print('Database created successfully......')
except Error as err:
    print(f'Error is:{err}')

Database created successfully......

In [4]:
db=connect_to_db()

Connection established to python_mysql database successfully......

In [22]:
cursor=db.cursor()
try:
    cursor.execute("create table student(id int auto_increment primary key,roll int ,name varchar(100))")
    print('Table created successfully...')
except Error as err:
    print(f'Error is:{err}')

Table created successfully...

In [27]:
cursor=db.cursor()
try:
    sql="insert into student(roll,name) value(%s,%s)"
    val=(10,'Babasaheb')
    cursor.execute(sql,val)
    db.commit()
    print(f'{cursor.rowcount} row inserted successfully...')
except Error as err:
    print(f'Error is:{err}')

1 row inserted successfully...

In [30]:
cursor=db.cursor()
try:
    cursor.execute('select * from student;')
    result = cursor.fetchall()
    for i in result:
        print(i)
    print('done')
except Error as err:
    print(f'Error is:{err}')

(2, 11, 'Sam')
(3, 12, 'Akki')
done

In [13]:
cursor=db.cursor()
try:
    sql='update student set name=%s where roll=%s'
    val=('babs',10)
    cursor.execute(sql,val)
    print(cursor.rowcount, "records affected")
except Error as err:
    print(f'Error is:{err}')

1 records affected

In [29]:
cursor=db.cursor()
try:
    sql='delete from student where roll=%s'
    val=(10,)
    cursor.execute(sql,val)
    db.commit()
    print(cursor.rowcount, "records deleted")
except Error as err:
    print(f'Error is:{err}')

1 records deleted